<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Sidebar || Moniz || Moniz HTML Template For Business</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/static/images/favicons/site.webmanifest" />
    <meta name="description" content="Entox HTML Template For Car Business" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="/static/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/static/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="/static/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="/static/vendors/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="/static/vendors/nouislider/nouislider.pips.css" />
    <link rel="stylesheet" href="/static/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="/static/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/static/vendors/moniz-icons/style.css">
    <link rel="stylesheet" href="/static/vendors/tiny-slider/tiny-slider.min.css" />
    <link rel="stylesheet" href="/static/vendors/reey-font/stylesheet.css" />
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/static/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/static/vendors/twentytwenty/twentytwenty.css" />
    <link rel="stylesheet" href="/static/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="/static/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="/static/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/static/vendors/timepicker/timePicker.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="/static/css/moniz.css" />
    <link rel="stylesheet" href="/static/css/moniz-responsive.css" />

    <!-- RTL Styles -->
    <link rel="stylesheet" href="/static/css/moniz-rtl.css">

    <!-- color css -->
    <link rel="stylesheet" id="jssDefault" href="/static/css/colors/color-default.css">
    <link rel="stylesheet" id="jssMode" href="/static/css/modes/moniz-normal.css">

    <!-- toolbar css -->
    <link rel="stylesheet" href="/static/css/moniz-toolbar.css">

</head>